ion-content {
    --ion-background-color: #ffffff;
}

.fromlogin{
    margin-top:35px;
}
ion-row{
    ion-col{
        img{
            margin-top: 30px;
            width: 89px;
            border-radius:100%;
        }
    }
}