<ion-header>
  <ion-toolbar color="primary">
    <ion-title>ປະຫວັດການຈອງ</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card (click)="changed()">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="5">
          <div class="wrapper_img">
            <img src="../../assets/img/hottel.png" alt="">
          </div>
        </ion-col>
        <ion-col size="7" class="left_col">
          <h3>ໂຮງແຮມຄລາວພາຊ່າ ພາເລດ</h3>
          <div class="rate">
            <!-- <p>4.0</p> -->
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
          </div>
          <div class="location">
            <ion-icon name="location"> </ion-icon>
            <p>ນະຄອນຫຼວງວຽງຈັນ</p>
          </div>
          <h4> 2022-02-15</h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card (click)="changed()">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="5">
          <div class="wrapper_img">
            <img src="../../assets/img/hottel.png" alt="">
          </div>
        </ion-col>
        <ion-col size="7" class="left_col">
          <h3>ໂຮງແຮມຄລາວພາຊ່າ ພາເລດ</h3>
          <div class="rate">
            <!-- <p>4.0</p> -->
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
          </div>
          <div class="location">
            <ion-icon name="location"> </ion-icon>
            <p>ນະຄອນຫຼວງວຽງຈັນ</p>
          </div>
          <h4> 2022-02-15</h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card (click)="changed()">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="5">
          <div class="wrapper_img">
            <img src="../../assets/img/hottel.png" alt="">
          </div>
        </ion-col>
        <ion-col size="7" class="left_col">
          <h3>ໂຮງແຮມຄລາວພາຊ່າ ພາເລດ</h3>
          <div class="rate">
            <!-- <p>4.0</p> -->
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
          </div>
          <div class="location">
            <ion-icon name="location"> </ion-icon>
            <p>ນະຄອນຫຼວງວຽງຈັນ</p>
          </div>
          <h4> 2022-02-15</h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card (click)="changed()">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="5">
          <div class="wrapper_img">
            <img src="../../assets/img/hottel.png" alt="">
          </div>
        </ion-col>
        <ion-col size="7" class="left_col">
          <h3>ໂຮງແຮມຄລາວພາຊ່າ ພາເລດ</h3>
          <div class="rate">
            <!-- <p>4.0</p> -->
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
          </div>
          <div class="location">
            <ion-icon name="location"> </ion-icon>
            <p>ນະຄອນຫຼວງວຽງຈັນ</p>
          </div>
          <h4> 2022-02-15</h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="5">
          <div class="wrapper_img">
            <img src="../../assets/img/hottel.png" alt="">
          </div>
        </ion-col>
        <ion-col size="7" class="left_col">
          <h3>ໂຮງແຮມຄລາວພາຊ່າ ພາເລດ</h3>
          <div class="rate">
            <!-- <p>4.0</p> -->
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
            <ion-icon color="warning" name="star"></ion-icon>
          </div>
          <div class="location">
            <ion-icon name="location"> </ion-icon>
            <p>ນະຄອນຫຼວງວຽງຈັນ</p>
          </div>
          <h4> 2022-02-15</h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>